docs/n8n/support-bot-workflow.json
{
    "name": "Support Bot → Knowledge Base RAG",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "support-chat",
                "options": {}
            },
            "id": "webhook",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "postProcessAction": "nothing"
            },
            "id": "email_trigger",
            "name": "Email Trigger (IMAP)",
            "type": "n8n-nodes-base.emailReadImap",
            "typeVersion": 2,
            "position": [
                200,
                500
            ],
            "credentials": {
                "imap": {
                    "id": "REPLACE_WITH_IMAP_CRED_ID",
                    "name": "Support IMAP"
                }
            },
            "disabled": true,
            "notes": "Enable this node after configuring IMAP credentials"
        },
        {
            "parameters": {
                "url": "={{$env.AI_GATEWAY_URL.replace('/v1/agent/run', '')}}/v1/agent/support-chat",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{'Bearer ' + $env.AI_GATEWAY_KEY}}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "query",
                            "value": "={{ $json.body?.query || $json.text || $json.subject }}"
                        },
                        {
                            "name": "history",
                            "value": "=[]"
                        }
                    ]
                }
            },
            "id": "gateway_chat",
            "name": "Gateway Support Chat",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                450,
                400
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.confidence }}",
                            "operation": "largerEqual",
                            "value2": 0.85
                        }
                    ]
                }
            },
            "id": "check_confidence",
            "name": "Confidence > 0.85?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                700,
                400
            ]
        },
        {
            "parameters": {
                "fromEmail": "={{$env.SUPPORT_FROM_EMAIL || 'support@obsidian-nextcloud.com'}}",
                "toEmail": "={{ $json.from || 'test@example.com' }}",
                "subject": "Re: Support Request",
                "text": "={{ $json.answer }}\n\n---\nSources:\n{{ $json.sources.join(', ') }}\n\n(Generated by AI Support Bot)",
                "options": {}
            },
            "id": "auto_reply",
            "name": "Send Auto-Reply",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2,
            "position": [
                950,
                300
            ],
            "credentials": {
                "smtp": {
                    "id": "REPLACE_WITH_SMTP_CRED_ID",
                    "name": "Support SMTP"
                }
            }
        },
        {
            "parameters": {
                "channel": "support-tickets",
                "text": "=⚠️ **Low Confidence Support Request** ⚠️\n\n**Query**: {{ $json.query }}\n**AI Answer**: {{ $json.answer }}\n**Confidence**: {{ $json.confidence }}\n\nPlease review manually.",
                "otherOptions": {}
            },
            "id": "slack_alert",
            "name": "Notify Slack",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2,
            "position": [
                950,
                500
            ],
            "credentials": {
                "slackApi": {
                    "id": "REPLACE_WITH_SLACK_CRED_ID",
                    "name": "Slack"
                }
            }
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Gateway Support Chat",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gateway Support Chat": {
            "main": [
                [
                    {
                        "node": "Confidence > 0.85?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Confidence > 0.85?": {
            "main": [
                [
                    {
                        "node": "Send Auto-Reply",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Notify Slack",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "versionId": "1"
}